//Pagination

.bx--pagination {
  background-color: #262626;
  // border: 1px solid #e0e0e0;
  width: 100%;
  border: none;
}

.bx--pagination__left {
  background-color: #262626;
  color: #fff;
}
.bx--pagination__right {
  background-color: #262626;
  color: #fff;
}

.bx--pagination__button,
.bx--btn--ghost.bx--pagination__button .bx--data-table-container {
  border: none;
  color: #fff;
}

//Table

.bx--data-table-container {
  width: 100%;
}

.bx--data-table th {
  background-color: #333333;
  color: #b5b5b5;
}

.bx--data-table td,
.bx--data-table tbody th {
  border-bottom: 0.1px solid #525252;
  border-top: 0.1px solid #525252;
}

.bx--data-table th button {
  background-color: #333333;
  color: #b5b5b5;
}
.bx--data-table th button:hover {
  background-color: #333333;
}

.bx--data-table th button::after {
  background-color: #333333;
}

.bx--data-table tbody tr,
.bx--data-table tbody tr td,
.bx--data-table tbody tr th {
  transition: none;
  background-color: #262626;
  color: #b5b5b5;
}

.bx--data-table tbody tr td {
  background-color: #262626;
  max-width: 400px;
}
.bx--data-table tbody tr td {
  transition: none;
  background-color: #262626;
  color: #f4f4f4;
}

.bx--data-table tbody tr td:hover {
  transition: none;
  background-color: #262626;
  color: #f4f4f4;
  border-bottom: 0.1px solid #525252;
  border-top: 0.1px solid #525252;
}

.tr:hover {
  background-color: #262626;
}
